{% extends 'base_generic.html' %}
{% load static %}
{% block title %} تغییر رمز{% endblock %}

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'accounts/change.css' %}">
    {% endblock %} 
</head>
{% block body %}

    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <!-- <input type="password" name="old_password" placeholder="رمز قبلی"><br><br>
        <input type="password" name="new_password" placeholder="رمز جدید"><br><br>
        <input type="password" name="new_password-confirmation" placeholder="تایید رمز جدید"><br><br> -->
        <button type="submit"> تغییر رمز</button>
    </form>
{% endblock %}