input{
    color: green;
    text-align: center ;
    width: 300px;
    height: 25px;
    border: 5px solid transparent;
    border-radius: 5px;
}


form{
    background-color: #333333;
    margin: 150px auto;
    width: 400px;
    height: 350px;
    padding: 40px;
    text-align: center;
    border-radius: 25px;
}

form label{
    display: none;
}

form button{
    width: 200px;
    height: 35px;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: goldenrod;
}

form button:hover{
    background-color: aqua;
}